<form class="column-form">
  <div data-editors="name" hidden></div>

  <div data-editors="title">
    <span data-id="error" style="color: red;"></span>
  </div>

  <div data-editors="description"></div>
  <div data-editors="type"></div>
  <div data-editors="concept"></div>
</form>
