<form class="column-form" data-editors="title,description,type,concept">
  <div data-editors="name" hidden></div>

  <div data-editors="title">
    <span data-id="error" style="color: red;"></span>
  </div>
</form>
