<div class="input__container">
  <button type="button" class="form-button form-button--inline">Replace file</button>
  <div class="input__file-label">{{ name }}</div>
</div>

<div class="input__status input__status--done"><i class="fa fa-check"></i></div>
<button data-id="remove" type="button" class="input__remove"><i class="fa fa-times"></i></button>