<div class="container">
  <div class="upload-form">
    <form action="/">
      <div data-editors="name"></div>
      <div data-editors="files" class="input"></div>
      <div data-id="upload" class="input input--doudle"></div>

      <div class="input">
        <!-- .form-button--loading to activate loading state -->
        <button data-id="submit" class="form-button form-button--big">
          <span class="form-button__spinner"><svg viewBox="0 0 36 36"><use xlink:href="#spinner"></use></svg></span>
          <span data-id="progress" hidden></span>
          <span data-id="create">Create</span>
        </button>
      </div>
    </form>
  </div>

  <div data-id="validation-report" class="modal modal__validation-report" hidden></div>
</div>