<div class="container">
  <div class="upload-form">
    <form action="/">
      <div data-editors="name"></div>
      <div data-editors="files"></div>
      <div data-id="upload" class="input input--doudle"></div>

      <div class="input">
        <!-- .form-button--loading to activate loading state -->
        <button data-id="submit" class="form-button form-button--big">
          <span class="form-button__spinner"><svg><use xlink:href="#spinner"></use></svg></span>
          <span data-id="upload-in-progress" hidden>Checking files</span>
          <span data-id="create">Create</span>
        </button>
      </div>
    </form>
  </div>
</div>