<div class="container">
  <div class="page-subheader__title-container">
    <div class="page-subheader__title">Create New Data Package</div>
    <div class="page-subheader__step-title">Step 1: <div class="page-subheader__step-name">Get started</div></div>
  </div>

  <div class="subheader-steps">
    <div data-step-id="1" class="subheader-steps__item">
      <div class="subheader-icon">
        <svg viewBox="0 0 45 45"><use xlink:href="#step1-icon"></use></svg>
      </div>

      <div class="subheader-steps__content">
        <span>Step 1</span>
        <div class="subheader-steps__title">Get started</div>
      </div>
    </div>

    <div data-step-id="2" class="subheader-steps__item">
      <div class="subheader-icon">
        <svg viewBox="0 0 45 45"><use xlink:href="#step2-icon"></use></svg>
      </div>

      <div class="subheader-steps__content">
        <span>Step 2</span>
        <div class="subheader-steps__title">Map Columns</div>
      </div>
    </div>

    <div data-step-id="3" class="subheader-steps__item">
      <div class="subheader-icon">
        <svg viewBox="0 0 45 45"><use xlink:href="#step3-icon"></use></svg>
      </div>

      <div class="subheader-steps__content">
        <span>Step 3</span>
        <div class="subheader-steps__title">Confirm</div>
      </div>
    </div>
  </div>
</div>