<div class="container">
  <table class="user-data-table">
    <tbody data-id="user-data"></tbody>
  </table>

  <div class="columns-mapper">
    <div class="column-form-labels" data-id="form-labels">
      <label>Title</label>
      <label>Description</label>
      <label>Data type</label>
      <label>Concept</label>
    </div>

    <div class="columns-forms" data-id="forms"></div>
  </div>

  
  <div class="input">
    <button data-id="submit-button" class="form-button form-button--big form-button--disabled">
      <span class="form-button__label-disabled">Map at least Amount and Date/Time</span>
      <span class="form-button__label">Next</span>
    </button>
  </div>
</div>