<div class="input__container">
  <button type="button" class="form-button form-button--inline">Upload a file</button>
  <input type="file" name="package-name0" id="package-name0" value="e.g csv, xls">
</div>

<div class="input__separator">or</div>

<div class="input__container">
  <input type="text" name="package-name0" id="package-name0" placeholder="http://">
</div>