.user-data-table {
  tr:first-child {
    font-weight: bold;
  }

  td { 
    display: inline-block;
    text-align: center;
    width: 196px;
    margin-right: 48px;
  }
}

.column-form-labels {
  display: flex;
  flex-flow: column;
  margin-top: 72px;

  & > label {
    margin: 0 0 8px 0;
  }
}

.columns-forms,
.columns-mapper {
  display: flex;
  flex-flow: row;
}

.columns-wrapper {
  width: 720px;
  white-space: nowrap;
  overflow: scroll;
}

.column-form {
  margin: 0 32px;

  & > input,
  & > select,
  & > textarea {
    display: block;
    margin: 0 0 8px 0;
  }
}