{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
  <h1>
    Load data into the OpenSpending Datastore
  </h1>
</div>

<h2>Here's how it works ...</h2>
<div class="row">
  <div class="span3">
    1. Give us your CSV file
  </div>
  <div class="span3">
    2. We'll check its kosher
  </div>
  <div class="span3">
    3. We'll ask a few extra questions about this dataset
  </div>
  <div class="span3">
    4. We'll store it safe and sound in our extra robust datastore (s3)
  </div>
</div>


<div class="wizard">
  <br /><br />
  <legend>First give us the CSV file!</legend>
  <form class="form form-horizontal" action="" method="POST" enctype="multipart/form-data">
    <div class="control-group">
      <label for="dataset" class="control-label">Dataset name</label>
      <div class="controls">
        <input
          type="text"
          name="dataset"
          required=""
          placeholder="my-openspending-dataset-identifier"
          />
        <p class="help-block">This can be a new or existing dataset</p>
      </div>
    </div>
    <div class="control-group">
      <label for="datafile" class="control-label">File</label>
      <div class="controls">
        <input
          type="file"
          name="datafile"
          required=""
          />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

