<div>
  <div data-editors="name"></div>

  <div class="input">
    <label>Add one or more data file(s)</label>
  </div>

  <div class="upload-form__files">
    <div data-editors="files"></div>
  </div>
</div>