<!DOCTYPE html>
<html lang="en">
<head>
  <title>Open Spending</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/okfn/app-theme/gh-pages/css/main.min.css">
  <link rel="stylesheet" href="http://okfnlabs.org/ok-panel/assets/css/frontend.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="landing.min.css">
</head>

<body>
  <div class="wrapper">
    <div class="promo">
      <!--# include file="_header.html" -->

      <div class="promo__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <div class="promo__left" data-delay="700">
                <img src="images/promo0.png" alt="">
              </div>
            </div>

            <div class="col-xs-8">
              <div class="promo__main" data-delay="0">
                <div class="promo__arrow" data-delay="1200">
                  <div class="promo__arrow-wrapper">
                    <img src="images/promo-arrow.png" alt="" width="879" height="169">
                  </div>
                </div>

                <div class="promo__title">
                  From tabulation
                  to visualisation
                </div>

                <div class="promo__subtitle">
                  (in 5 minutes!)
                </div>

                <a href="#" class="button button--promo">
                  Get Started
                </a>
              </div>
            </div>

            <div class="col-xs-2">
              <div class="promo__right" data-delay="1800">
                <img src="images/promo1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="steps">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="steps__title">
              Get your data into <strong><span>Open</span>Spending</strong> in a few easy steps
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="steps__item">
              <div class="steps__item-title">
                Upload your files
              </div>

              <div class="steps__image">
                <img src="images/promo-bottom0.png" alt="" width="589" height="357">
                <div class="steps__item-arrow"></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="steps__item">
              <div class="steps__item-title">
                Assign some columns
              </div>

              <div class="steps__image">
                <img src="images/promo-bottom1.png" alt="" width="589" height="357">
                <div class="steps__item-arrow steps__item-arrow--reflect"></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="steps__item">
              <div class="steps__item-title">
                enjoy your visualisations
              </div>

              <div class="steps__image">
                <img src="images/promo-bottom2.png" alt="" width="589" height="357">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--# include file="_footer.html" --> 

    <!-- Footer Scripts -->
    <!-- Just visual representation -->
    <script src="landing.min.js"></script>
  </div>
</body>
</html>