<div class="input__container">
  <button data-id="select-file" type="button" class="form-button form-button--inline">Upload a file</button>
  <input data-id="file" type="file" name="file" accept="text/csv">
</div>

<div class="input__separator">or</div>

<div class="input__container">
  <input data-id="link" type="text" name="link" placeholder="http://">
</div>